Inpendent Variables:
    GDP per capita
    Human Development Index (HDI)
    Total Population
    Transparency Index

Dependent Variables:
    Total Cases per million
    Total Deaths per million
    People fully vaccinated per hundred
    
Other Data Columns:
    ISO Code
    Continent
    Location
    Date

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress
from scipy.stats import pearsonr

In [18]:
# Study data files
owidCovidData = "Resources/owid-covid-data.csv"
transparencyData = "Resources/Transparency Index.csv"

CovidData = pd.read_csv(owidCovidData)
Transparency = pd.read_csv(transparencyData)
Transparency

         Country  Score   Rank
0    Afghanistan   19.0  165.0
1        Albania   36.0  104.0
2        Algeria   36.0  104.0
3         Angola   27.0  142.0
4      Argentina   42.0   78.0
..           ...    ...    ...
174      Vietnam   36.0  104.0
175        Yemen   15.0  176.0
176       Zambia   33.0  117.0
177     Zimbabwe   24.0  157.0
178          NaN    NaN    NaN

[179 rows x 3 columns]

In [27]:
# eliminate extra columns
CovidClean = CovidData.copy()
CovidClean.drop([ 'total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths', 'new_deaths_smoothed', 'new_cases_per_million', 
                 'new_cases_smoothed_per_million', 'new_deaths_per_million', 'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients', 
                 'icu_patients_per_million', 'hosp_patients', 'hosp_patients_per_million', 'weekly_icu_admissions', 'weekly_icu_admissions_per_million', 
                 'weekly_hosp_admissions', 'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests', 'total_tests_per_thousand', 
                 'new_tests_per_thousand', 'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'positive_rate', 'tests_per_case', 'tests_units', 
                 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations', 'new_vaccinations_smoothed', 
                 'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred', 'new_vaccinations_smoothed_per_million', 'stringency_index',
                 'population', 'population_density', 'median_age', 'aged_65_older', 'aged_70_older', 'extreme_poverty', 'cardiovasc_death_rate',
                 'diabetes_prevalence', 'female_smokers', 'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand', 'life_expectancy'],
                 axis = 1, inplace = True)


# limit to max date
CovidClean = CovidClean[CovidClean['date'].isin(['2021-04-27'])]

# remove groups
#CovidClean = CovidClean(CovidClean["iso_code"].startswith("OWID"))

# rename "Location" to "Country"
CovidClean.rename(columns={"location":"Country"}, inplace=True)

# rename everything else for ease
CovidClean.rename(columns={"total_cases_per_million":"Cases", "total_deaths_per_million": "Deaths", "people_fully_vaccinated_per_hundred":"Vaxxed", 
                           "gdp_per_capita": "GDP", "human_development_index": "HDI"}, inplace=True)

# merge with Transparency (inner join)
CovidAll= pd.merge(CovidClean, Transparency, on=["Country"], how="inner")

# rename index to location

CovidClean
CovidAll

,iso_code,continent,Country,date,Cases,Deaths,Vaxxed,GDP,HDI,Score,Rank
0,AFG,Asia,Afghanistan,2021-04-27,1521.385,66.738,NaN,1803.987,0.511,19.0,165.0
1,ALB,Europe,Albania,2021-04-27,45429.147,828.063,NaN,11803.431,0.795,36.0,104.0
2,DZA,Africa,Algeria,2021-04-27,2767.186,73.544,NaN,13913.839,0.748,36.0,104.0
3,AGO,Africa,Angola,2021-04-27,789.320,17.860,NaN,5819.495,0.581,27.0,142.0
4,ARG,South America,Argentina,2021-04-27,64279.722,1385.063,1.95,18933.907,0.845,42.0,78.0
...,...,...,...,...,...,...,...,...,...,...,...
170,VEN,South America,Venezuela,2021-04-27,6812.540,73.217,NaN,16745.022,0.711,15.0,176.0
171,VNM,Asia,Vietnam,2021-04-27,29.351,0.360,NaN,6171.884,0.704,36.0,104.0
172,YEM,Asia,Yemen,2021-04-27,208.543,40.468,NaN,1479.147,0.470,15.0,176.0
173,ZMB,Africa,Zambia,2021-04-27,4972.706,67.940,NaN,3689.251,0.584,33.0,117.0
174,ZWE,Africa,Zimbabwe,2021-04-27,2567.731,105.296,0.43,1899.775,0.571,24.0,157.0